doctype html
html
  head
    meta(charset="utf-8")
    title= title
    style
      include style.css
  body
    .container
      h1= header
      p= body

      if button
        a.button(href=button.href)= button.text

      p= footer
